<header>
  <div class="container">
    <img src="assets/images/Logo.png" alt="Stobart Logo" class="logo" routerLink="/home">

    
    <div class="desktop-contact-info">
      07576 068 987 <br> bookings&#64;stobart-transport.co.uk
    </div>

    <button class="menu-toggle" (click)="toggleMenu()">
      &#9776; </button>

    <nav [ngClass]="{ 'is-open': isMenuOpen }">
      <a routerLink="/home" routerLinkActive="active" (click)="toggleMenu()">Home</a>
      <a routerLink="/contact" routerLinkActive="active" (click)="toggleMenu()">Get a quote</a>
      <a routerLink="/privacy-policy" routerLinkActive="active" (click)="toggleMenu()">Privacy Policy</a>
      
      <div class="mobile-contact-info">
        07576 068 987 <br> bookings&#64;stobart-transport.co.uk
      </div>
    </nav>

  </div>
</header>